<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdmktQ5lujAqy3qHUmB07Uusxrw0DgvBk</string>
	<key>GCM_SENDER_ID</key>
	<string>697454804189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complaintApp</string>
	<key>PROJECT_ID</key>
	<string>complaint-project-dd99c</string>
	<key>STORAGE_BUCKET</key>
	<string>complaint-project-dd99c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697454804189:ios:86126971b1f2be64806f34</string>
</dict>
</plist>